services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clopps
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    ports:
      - "3000:3000"
